.riddles-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
  flex-direction: column;
  color: #4e138a;
  padding-left: 150px;
}

.riddles-game-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.riddles-item-block {
  display: flex;
  margin: 25px 0;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
}

.riddles-main-img {
  object-fit: fill;
  width: 45%;
  height: auto;
  border-radius: 15px;
  cursor: pointer;
  transition: 1s;
}

.riddles-main-img:hover:not(.active) {
  transform: scale(1.1);
}

.riddles-second-img {
  object-fit: fill;
  width: 45%;
  height: auto;
  border-radius: 15px;
  opacity: 0;
  transition: 1s;
}

.riddles-second-img-active {
  opacity: 1;
}